/* common styles */

* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

.banner {
  width: 75%;
  max-width: 1440px;
  margin: 0px auto;
}

p {
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.primary-button {
  border: none;
  border-radius: 8px;
  padding: 20px 42px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  background-color: #E55473;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}

/* header syles */
header {
  background-color: #E554731A;
  padding-top: 50px;
}

.banner-container {
  display: flex;
  justify-content: space-between;
}

.banner-container div  {
  width: 50%;
  max-width: 710px;
  margin: 150px 0px;
}

.banner-container img {
  width: 45%;
}

.banner-container div h1 {
  color: #272727;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner-container div p {
  margin: 32px 0px;
}


/* main styles */
main {
  margin-top: 178px;
}

/* featured flower section */

.featured-flowers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-flowers p {
  text-align: center;
  width: 42%;
  max-width: 594px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.flowers {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.flower {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  max-width: 464px;
}

.flower-background {
  border-radius: 300px 300px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #A7216226;
  height: 540px;
  width: 100%;
  margin-bottom: 32px;
}

.green-background {
  background-color: #477D1126;
}

.blue-background {
  background-color: #0597A026;
}

.flower h4 {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}

/* services section */

.services {
  margin: 128px 0px;
}

.services > div {
  background-color: #2727270D;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.service {
  padding: 86px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h5 {
  color: rgba(39, 39, 39, 0.80);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-top: 24px;
}

/* Hot deal section */

.hot-deal {
  background-color: #E554730D;
}

.deal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deal div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 594px;
}

.deal div p{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 32px;
}

.deal img {
  padding: 100px 0px;
}

/* Instagram section */

.instagram {
  margin: 128px 0px;
}

.instagram div p {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.flower-images {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flower-images img {
  width: 24%;
  max-width: 394px;
}